<mat-toolbar>
  <span>Octank Traveling</span>
  <span class="example-spacer"></span>
  <button mat-button class="login-button">
    로그인
  </button>
  <button mat-button>
    회원가입
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
<!--Material 적용 전-->
<!--<header>-->
<!--  <nav>-->
<!--    <div class="logo">-->
<!--    </div>-->
<!--    <div class="menu">-->
<!--      <ul>-->
<!--        <li><a href="#">도움말</a></li>-->
<!--        <li><a href="#">회원가입</a></li>-->
<!--        <li><a href="./login/login.html">로그인</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </nav>-->
<!--  <section>-->
<!--    <div class="search_box">-->
<!--      <div class="search_title">액티비티를 즐길 장소를 예약하세요.</div>-->
<!--      <table>-->
<!--        <tr>-->
<!--          <td colspan="2" class="search_sub_title">장소</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td colspan="2">-->
<!--            <input class="search_input" type="text" placeholder=" 모든 장소"/>-->
<!--          </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td class="search_sub_title">체크인</td>-->
<!--          <td class="search_sub_title">체크아웃</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td><input class="search_input" type="date"></td>-->
<!--          <td><input class="search_input" type="date"></td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td colspan="2" class="search_sub_title">인원</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td colspan="2">-->
<!--            <select class="search_input">-->
<!--              <option>1</option>-->
<!--              <option>2</option>-->
<!--              <option>3</option>-->
<!--              <option>4</option>-->
<!--              <option>5</option>-->
<!--            </select>-->
<!--          </td>-->
<!--        </tr>-->
<!--      </table>-->
<!--      <div class="search_button">-->
<!--        <button (click)="showAlert()">검색</button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->


<!--</header>-->
<!--<main>-->
<!--  <section>-->
<!--    <div class="sec_title">-->
<!--      <h2>액티비티 즐기기</h2>-->
<!--      <p style="font-size: 16px;">Peccy와 함꼐 전 세계에서 액티비티를 즐겨요</p>-->
<!--    </div>-->
<!--    <div class="card_box">-->
<!--      <div class="card">-->
<!--        <div class="card_img"></div>-->
<!--        <div class="card_content">등산하기</div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card_img"></div>-->
<!--        <div class="card_content">일몰보기</div>-->
<!--      </div>-->
<!--      <div class="card">-->
<!--        <div class="card_img"></div>-->
<!--        <div class="card_content">해변가기</div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
<!--  <section>-->
<!--    <div clss="sec_title">-->
<!--      <h2>액티비티 즐기기</h2>-->
<!--      <p class="description">Peccy와 함꼐 전 세계에서 액티비티를 즐겨요</p>-->
<!--    </div>-->
<!--    <div class="home_box">-->
<!--      <div class="home">-->
<!--        <div class="home_img climbing"></div>-->
<!--        <div class="home_info">-->
<!--          <div class="info1">땀 흘리며 산을 올라요</div>-->
<!--          <div class="info2">⛰️등산하기⛰️</div>-->
<!--        </div>-->
<!--      </div>-->


<!--      <div class="home">-->
<!--        <div class="home_img sunset"></div>-->
<!--        <div class="home_info">-->
<!--          <div class="info1">일찍 일어나 일몰을 보아요</div>-->
<!--          <div class="info2">☀️일몰보기☀️</div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="home">-->
<!--        <div class="home_img beach"></div>-->
<!--        <div class="home_info">-->
<!--          <div class="info1">시원한 해변에서 놀아요</div>-->
<!--          <div class="info2">🏖해변가기🏖</div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--  </section>-->
<!--</main>-->
